/* CSS FINAL PROJECT IDM231 */

@import url('https://fonts.googleapis.com/css?family=Overpass|Karla|Schoolbell|Gloria+Hallelujah&display=swap');

@font-face {
    font-family: 'Get Schwifty';
    src: url('../fonts/GetSchwifty-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calligraphr';
    src: url('../fonts/Calligraphr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rick_and_Morty';
    src: url('../fonts/Rick_and_Morty.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Mobile Repsonsive */
@-ms-viewport {
    width: device-width;
}

body {
    cursor: url(../images/cursor/spaceship_cursor.png), auto;
}

.characters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 99;
    position: absolute;
    margin-left: 25px;
    margin-top: -150px;
}

.zodiac-characters {
    width: 8%;
    height: auto;
    transition: filter .3s ease-in-out;
    background-color: #555;
    border-radius: 50%;
}

.zodiac-characters:hover {
    filter: grayscale(0%);
    filter: grayscale(100%);
    cursor: pointer;
}

.zodiac-characters:active {
    background-color: rgb(110, 180, 120);
}

h1 {
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
    z-index: 2;
    padding: 0 1em 1em 1em;
    position: relative;
}

.h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    position: relative;
    width: 70%;
    height: auto;
}

h3 {
    color: #fff;
    font-size: 1.75em;
    font-family: 'Calligraphr', sans-serif;
    text-align: center;
    margin: 0;
    z-index: 2;
    position: relative;
    /* padding: 1em 2em 0 2em; */
}

#compute {
    color: #20bf6b !important;
    font-family: 'Calligraphr', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    padding-bottom: 1rem;
    border: 4px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#compute:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.helpDiv {
    z-index: 98;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

#showMeDates {
    text-align: center;
}

#showMe {
    font-size: 28px;
    z-index: 98;
    padding-top: 1em;
    margin-left: 7em;
    margin-right: 3em;
}

.showMeDiv {
    font-family: 'Calligraphr', sans-serif;
    color: #fff;
}

#target {
    z-index: 99;
    /* width: 97.5px; */
    max-height: 195px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    margin-bottom: -50px;
    margin-top: 20px;
}

.form {
    z-index: 99;
}

#wrapper {
    justify-self: center;
    z-index: 99;
}

#organizer {
    display: grid;
    /* grid-template-columns: 400px 400px 400px; */
    position: relative;
    top: 30px;
}

.item1 {
    font-family: 'Schoolbell', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    z-index: 98;
    margin-bottom: -3em;
    margin-top: 0.5em;
}

.text {
    font-family: 'Gloria Hallelujah', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    padding-bottom: 1.5rem;
    z-index: 99;
}

#zodDate {
    font-family: 'Calligraphr', sans-serif;
    width: 100%;
}

.button {
    z-index: 99;
    text-align: center;
    padding-top: 2em;
    margin: 0 100px 0 100px;
}

.date {
    z-index: 99;
}

#myBtn {
    font-family: 'Calligraphr', sans-serif;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 1;
    font-size: 22px;
    border: none;
    outline: none;
    background-color: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
#myBtn:hover {
    background-color: #555;
}

/* Button Styles */

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* BACKGROUND STARS */
* {
    margin: 0;
    padding: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

#stars, #twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

#stars {
  background:#000 url(../images/wallpapers/stars.png) repeat top center;
  z-index:0;
}

#twinkling{
  background:transparent url(../images/wallpapers/twinkling.png) repeat top center;
  z-index:1;
  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modalContent {
    z-index: 99;
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 40%;
    height: 23%;
    margin-left: 45em;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
    margin-top: -13px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    font-family: 'Calligraphr', sans-serif;
    font-size: 24px;
    padding: 8px 16px 4px 16px;
    background-color: #5cb85c;
    color: white;
}

.modalBody {
    font-family: 'Calligraphr', sans-serif;
    font-size: 24px;
    padding: 16px 32px 16px 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}