/* CSS FINAL PROJECT IDM231 */

@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

@font-face {
    font-family: 'Get Schwifty';
    src: url('../fonts/GetSchwifty-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueBoldCondensed.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Calligraphr';
    src: url('../fonts/Calligraphr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rick_and_Morty';
    src: url('../fonts/Rick_and_Morty.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/* Mobile Repsonsive */
@-ms-viewport {
    width: device-width;
}

body {
    cursor: url(../images/cursor/spaceship_cursor.png), auto;
}

.characters {
    display: flex;
    justify-content: center;
    padding: 2em 0 1em 0;    
    z-index: 99;
    position: absolute;
}

.zodiac-characters {
    width: 7%;
    height: auto; 
    transition: filter .3s ease-in-out;
}

.zodiac-characters:hover {
    filter: grayscale(0%);
    filter: grayscale(100%);
}

h1 {
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 0;
    z-index: 2;
    padding: 0 1em 1em 1em;
    position: relative;
}

.h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
    position: relative;
    width: 75%;
    height: auto;
}

h3 {
    color: #fff;
    font-size: 2em;
    font-family: 'Calligraphr', sans-serif;
    text-align: center;
    margin: 0;
    z-index: 2;
    position: relative;
    padding: 1.5em 2em 0 2em;
}

#wrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 7.5em;
    z-index: 99;
}

#compute {
    color: #20bf6b !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    padding-bottom: 1rem;
    border: 4px solid #20bf6b !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}

#compute:hover {
    color: #494949 !important;
    border-radius: 50px;
    border-color: #494949 !important;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#showMe {
    z-index: 99;
    padding-top: 1em;
}

#target {
    z-index: 99;
    width: 7em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    z-index: 99;
}

.flexgroup {
    z-index: 99;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.text {
    font-family: 'Calligraphr', sans-serif;
    color: #fff;
    font-size: 32px;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    z-index: 99;
}

#zodDate {
    font-family: 'Calligraphr', sans-serif;
}

.button {
    display: flex;
    justify-content: center;
    z-index: 99;
    text-align: center;
}

.date {
    z-index: 99;
}

/* Button Styles */

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

/* BACKGROUND STARS */
* {
    margin: 0;
    padding: 0;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

#stars, #twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

#stars {
  background:#000 url(../images/wallpapers/stars.png) repeat top center;
  z-index:0;
}

#twinkling{
  background:transparent url(../images/wallpapers/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}